:root {
  --very-pale-blue: hsl(225, 100%, 98%);
  --pale-blue: hsl(225, 100%, 94%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --bright-blue: hsl(245, 75%, 52%);
  --navy-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 900px;
  width: 1440px;
  margin: 0 auto;
  font-family: "Red Hat Display", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url(../images/pattern-background-desktop.svg) no-repeat
    var(--pale-blue);
}

.card-component {
  width: 410px;
  height: 630px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 3px 15px -5px var(--desaturated-blue);
}

.card-component__banner {
  border-radius: 8px 8px 0 0;
  height: 200px;
  background: url(../images/illustration-hero.svg) no-repeat;
}

.card-component__text-container {
  display: flex;
  justify-content: center;
}

.paragraph {
  font-size: 16px;

  &-medium {
    font-weight: 500;
  }
  &-bold {
    font-weight: 700;
  }
  &-black {
    font-weight: 900;
  }
}

.navy {
  color: var(--navy-blue);
}
.desaturated {
  color: var(--desaturated-blue);
}
.pale {
  color: var(--pale-blue);
}
